@import "../abstracts/variables";

.harvee-accordion {
  border: 1px solid #efefef;

  button {
    &:focus {
      box-shadow: none;
    }
  }

  .line {
    border-bottom: 1px solid #efefef;
  }
}

.harvee-btn-filter {
  border-radius: 0;
}

.harvee-category-carousel {
  border: 1px solid #efefef;

  .harvee-card-header {
    img {
      width: 100%;
    }
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .harvee-card-btn {
    border: 1px solid #d8d8d6;
    &:hover {
      background-color: $harvee;
      border: 1px solid #d8d8d6;
      color: #f4f4f4;
    }
  }
}

.harvee-category {
  .harvee-banner {
    height: 300px;
    position: relative;
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(32, 32, 32, 0.4);
    }

    .harvee-feature-btn {
      color: #fff;
      background-color: $harvee;
      border-color: $harvee;
      box-shadow: none;
      border-radius: 0;

      &:hover {
        background-color: #0dc98a;
        transition-duration: 0.2s;
      }
    }
  }
}
