@import "../abstracts/variables";

.harvee-carousel {
  // z-index: -1;

  .carousel-item {
    height: 520px;
  }

  .harvee-slide {
    width: 100%;
  }

  .harvee-btn {
    background: $harvee;
    color: white;
    border-radius: 0;
    text-transform: uppercase;
  }
}

.harvee-infor {
  background: #eeeeee;
  .harvee-infor-item {
    background: #eeeeee;
    border: white 1px solid;
  }
  .harvee-icon {
    i {
      color: $harvee;
      font-size: 50px;
    }
  }
}

//Responsive

.harvee-carousel {
  @media only screen and (max-width: 1024px) {
    .harvee-slide {
      width: 100%;
      height: 100%;
    }
  }
}
