@import "../abstracts/variables";

.harvee-list-prod {
  cursor: pointer;
  font-size: 18px;

  &:active,
  &:focus {
    box-shadow: none !important;
    border-radius: 0px;
    border-bottom: 2px solid $harvee;
    color: $harvee;
  }
}

.harvee-list-prod-nav {
  .active {
    box-shadow: none !important;
    border-radius: 0px;
    border-bottom: 2px solid $harvee;
    color: $harvee;
  }
}

.harvee-line {
  box-sizing: border-box;
  border-bottom: 2px solid #dee2e6;
}

.harvee-list-product {
  border-bottom: 2px solid #dee2e6;

  .owl-carousel .owl-nav button.owl-next {
    font-size: 70px !important;
    position: absolute;
    top: 100px;
    right: -90px;

    &:focus,
    &:hover {
      background: transparent;
      color: #05131c;
      outline: none !important;
    }
  }

  .owl-carousel .owl-nav button.owl-prev {
    font-size: 70px !important;
    position: absolute;
    top: 100px;
    left: -90px;

    &:focus,
    &:hover {
      background: transparent;
      color: #05131c;
      outline: none !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
      display: none;
    }
  }
}
