@import "../abstracts/variables";

.harvee-product-card {
  cursor: pointer;
  &:hover {
    .harvee-card-btn {
      background-color: $harvee;
      border: 1px solid #d8d8d6;
      color: #f4f4f4;
    }

    .harvee-card-view {
      transition-duration: 0.4s;
      background: rgba(57, 57, 57, 0.8);
      opacity: 0.9;
    }

    .harvee-card-shadow {
      transition-duration: 0.4s;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .harvee-card-view {
    height: 50px;
    width: inherit;
    background: transparent;
    opacity: 0;
    z-index: 2;
    position: relative;
    top: -50px;
  }

  .harvee-card-shadow {
    height: inherit;
    width: inherit;
    background: transparent;
    z-index: 1;
    position: relative;
    top: -270px;
  }

  .harvee-card-header {
    border: 1px solid #e8e8e8;
    height: 200px;

    img {
      width: 100%;
    }
  }

  .harvee-old-price {
    text-decoration-line: line-through;
  }

  .harvee-old-price,
  .harvee-sale-price {
    font-size: 18px;
  }

  .harvee-card-prod-name {
    a {
      color: $harvee !important;
      &:hover {
        text-decoration: none !important;
        font-weight: bold;
        transition-duration: 0.2s;
      }
    }
  }

  .harvee-card-btn {
    background-color: #f4f4f4;
    border: 1px solid #d8d8d6;
    color: #302e2a;
    border-radius: 0;
  }
}

//Responsive

.harvee-product-card {
  @media only screen and (max-width: 1024px) {
    .harvee-card-header {
      height: auto !important;
    }
  }
}
